{% extends "base.html" %}

{% block title %}ВолКомХоз: Таблица за день{% end %}

{% block body %}

<div class="container-fluid" align="center">
	<ul class="pager">
		<li class="previous">
			<a href="/show_table?year={{ year - 1 }}">
				<span aria-hidden="true">&larr;</span> {{ year - 1 }}
			</a>
		</li>
		<li class="next">
			<a href="/show_table?year={{ year + 1 }}">
				{{ year + 1 }} <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
	</ul>
{% for season in range(0, 4) %}
	<div class="row">
	{% for month in range(0, 3) %}
		{% set month_num = season * 3 + month %}
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<table class="table table-bordered choose-day-in-month-table">
				<thead>
					<tr>
						<th colspan="7">
						{{ month_names[month_num] }}
						</th>
					</tr>
				</thead>
			<tbody>
				{% set week_iter = 0 %}
				{% set day_iter = 0 %}
				{% for day in months[month_num] %}
					{% if week_iter == 0 %}
						{% if day_iter > 0 %}
						</tr>
						{% end %}
						<tr>
					{% end %}

					{% if 'full_date' in day %}
					<td class="date-available">
						<a href="/show_table?date={{ day['full_date'] }}">
							{{ day['day_val'] }}
						</a>
					{% else %}
					<td class="date-not-available">
						{{ day['day_val'] }}
					{% end %}
					</td>
					{% set week_iter = (week_iter + 1) % 7 %}
					{% set day_iter = day_iter + 1 %}
				{% end %}
				</tr>
				</tbody>
			</table>
		</div>
	{% end %}
	</div>
{% end %}
	<ul class="pager">
		<li class="previous">
			<a href="/show_table?year={{ year - 1 }}">
				<span aria-hidden="true">&larr;</span> {{ year - 1 }}
			</a>
		</li>
		<li class="next">
			<a href="/show_table?year={{ year + 1 }}">
				{{ year + 1 }} <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
	</ul>
</div>

{% end %}
