{% extends "base.html" %}

{% block title %}Таблица за день{% end %}

{% block body %}
	<div class="container-fluid report_title">
		<h1>Сводные данные о работе котельных  ООО «Концессии теплоснабжения»</h1>
		<span class="date">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
			{{ get_date(date.year, date.month, date.day) }}
		</span>
	</div>
	{% if forecast_date %}
		<div class="container table-control-panel">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								{% set fdate = get_date(forecast_date.year,
											forecast_date.month,
											forecast_date.day) %}
								<td>Прогноз на <u><a href="/show_table?date={{ fdate }}">{{ fdate }}</a></u></td>
								{% if forecast_weather is not None %}
									{% set dir = forecast_direction %}
									{% if dir in wind_directions %}
										{% set dir = wind_directions[dir] %}
									{% end %}
									{% if dir is not None %}
										<td>{{ forecast_weather }} {{ dir }}</td>
									{% else %}
										<td></td>
									{% end %}
								{% else %}
									<td></td>
								{% end %}
								<td>T<sub>день</sub> = {{ forecast_temp_day_from }} ~ {{ forecast_temp_day_to }} C<sup>o</sup></td>
								<td>T<sub>ночь</sub> = {{ forecast_temp_night_from }} ~ {{ forecast_temp_night_to }} C<sup>o</sup></td>
							</tr>
							<tr>
								<td>Заданная температура воздуха</td>
								<td>t<sub>день</sub> = {{ expected_temp_air_day }} C<sup>o</sup></td>
								<td>t<sub>ночь</sub> = {{ expected_temp_air_night }} C<sup>o</sup></td>
								<td>t<sub>средняя</sub> = {{ expected_temp_air_all_day }} C<sup>o</sup></td>
							</tr>
							<tr>
								<td>Средняя температура</td>
								<td>t<sub>возд.</sub> = {{ temp_average_air }} C<sup>o</sup></td>
								<td>t<sub>воды</sub> = {{ temp_average_water }} C<sup>o</sup></td>
								<td><td>
							</tr>
							{% if author %}
								<tr>
									<td>Автор отчета</td>
									<td>{{ author }}</td>
									<td></td>
									<td></td>
								</tr>
							{% end %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% end %}
	{% if current_user['rights'] & CAN_DELETE_REPORTS %}
		<div class="container-fluid report-actions-panel" align="right">
			<a class="btn btn-danger" href="/drop_report?date={{ date }}" onclick="return confirm('{{ CONFIRM_DELETE }}');">Удалить отчет</a>
		</div>
	{% end %}
	<div class="container-fluid boiler_rooms_table" align="center">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			    <tr align="center">
			        <td rowspan="4">Район</td>

			        <td rowspan="4">Котельная</td>

			        <td rowspan="3" colspan="2">Расчетный<br>температурный<br>график</td>

			        <td rowspan="4">P<br>газа</td>

			        <td rowspan="2" colspan="5">Котлы</td>

			        <td rowspan="2" colspan="3">Сетевые насосы</td>

			        <td colspan="6">Среднесуточная температура</td>

			        <td colspan="6">Температура ночью</td>

			        <td rowspan="2" colspan="2">Давление в сети</td>

			        <td rowspan="2" colspan="2">Расход воды в час</td>

			        <td rowspan="2" colspan="5">Расход подпиточной воды</td>

			        <td rowspan="4" class="rotate"><div>Жесткость</div></td>

			        <td rowspan="4" class="rotate"><div>Прозрачность</div></td>
			    </tr>
			    <tr align="center">
			        <td rowspan="2" colspan="2">Заданная</td>
			        <td rowspan="2" colspan="2">Фактическая</td>
			        <td rowspan="3" class="rotate"><div>T<sub>пр.откл.%</sub></div></td>
			        <td rowspan="3" class="rotate"><div>T<sub>обр.откл.%</sub></div></td>

			        <td rowspan="2" colspan="2">Заданная</td>
			        <td rowspan="2" colspan="2">Фактическая</td>
			        <td rowspan="3" class="rotate"><div>T<sub>пр.откл.%</sub></div></td>
			        <td rowspan="3" class="rotate"><div>T<sub>обр.откл.%</sub></div></td>
			    </tr>
			    <tr align="center">
			        <td rowspan="2" class="rotate"><div>Всего</div></td>
			        <td colspan="2">В работе</td>
			        <td rowspan="2" class="rotate"><div>Резерв</div></td>
			        <td rowspan="2" class="rotate"><div>Ремонт</div></td>

			        <td rowspan="2" class="rotate"><div>В работе</div></td>
			        <td rowspan="2" class="rotate"><div>Резерв</div></td>
			        <td rowspan="2" class="rotate"><div>Ремонт</div></td>

			        <td rowspan="2">P<sub>1</sub></td>
			        <td rowspan="2">P<sub>2</sub></td>

			        <td rowspan="2">Расч.</td>
			        <td rowspan="2">Факт.</td>

			        <td rowspan="2">Расч.</td>
			        <td colspan="3">Фактический</td>
			        <td rowspan="2">Отклон.%</td>
			    </tr>
			    <tr align="center">
			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>

			        <td class="rotate"><div>Котлов</div></td>
			        <td class="rotate"><div>Горелок</div></td>

			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>
			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>

			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>
			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>

			        <td>на 6:00</td>
			        <td>за сутки</td>
			        <td>месяц</td>
			    </tr>
			</thead>
			<tbody>
				{% for district in districts %}
					{% for room in district['rooms'] %}
						<tr>
							{% if room['district'] %}
								<td rowspan="{{ len(district['rooms']) }}">{{ room['district'] }}</td>
							{% end %}
							<td>{{ get_val(room, 'name') }}</td>
							<td>{{ get_val(room, 'T1') }}</td>
							<td>{{ get_val(room, 'T2') }}</td>
							<td>{{ get_val(room, 'gas_pressure') }}</td>
							<td>{{ get_val(room, 'boilers_all') }}</td>
							<td>{{ get_val(room, 'boilers_in_use') }}</td>
							<td>{{ get_val(room, 'torchs_in_use') }}</td>
							<td>{{ get_val(room, 'boilers_reserve') }}</td>
							<td>{{ get_val(room, 'boilers_in_repair') }}</td>
							<td>{{ get_val(room, 'net_pumps_in_work') }}</td>
							<td>{{ get_val(room, 'net_pumps_reserve') }}</td>
							<td>{{ get_val(room, 'net_pumps_in_repair') }}</td>

							{% set expected1 = get_val(room, 'all_day_expected_temp1') %}
							{% set expected2 = get_val(room, 'all_day_expected_temp2') %}
							{% set real1 = get_val(room, 'all_day_real_temp1') %}
							{% set real2 = get_val(room, 'all_day_real_temp2') %}
							<td>{{ expected1 }}</td>
							<td>{{ expected2 }}</td>
							<td>{{ real1 }}</td>
							<td>{{ real2 }}</td>
							{% if expected1 != '-' and real1 != '-' %}
								{% set percent = 100.0 * (real1 - expected1) / expected1 %}
								{% set percent_str = '{:.2f}%'.format(percent) %}
								{% if percent > 3 %}
									<td class="danger">{{ percent_str }}</td>
								{% elif percent < -3 %}
									<td class="warning">{{ percent_str }}</td>
								{% else %}
									<td>{{ percent_str }}</td>
								{% end %}
							{% else %}
								<td>-</td>
							{% end %}
							{% if expected2 != '-' and real2 != '-' %}
								{% set percent = 100.0 * (real2 - expected2) / expected2 %}
								{% set percent_str = '{:.2f}%'.format(percent) %}
								{% if percent > 3 %}
									<td class="danger">{{ percent_str }}</td>
								{% elif percent < -3 %}
									<td class="warning">{{ percent_str }}</td>
								{% else %}
									<td>{{ percent_str }}</td>
								{% end %}
							{% else %}
								<td>-</td>
							{% end %}

							{% set expected1 = get_val(room, 'all_night_expected_temp1') %}
							{% set expected2 = get_val(room, 'all_night_expected_temp2') %}
							{% set real1 = get_val(room, 'all_night_real_temp1') %}
							{% set real2 = get_val(room, 'all_night_real_temp2') %}
							<td>{{ expected1 }}</td>
							<td>{{ expected2 }}</td>
							<td>{{ real1 }}</td>
							<td>{{ real2 }}</td>
							{% if expected1 != '-' and real1 != '-' %}
								{% set percent = 100.0 * (real1 - expected1) / expected1 %}
								{% set percent_str = '{:.2f}%'.format(percent) %}
								{% if percent > 3 %}
									<td class="danger">{{ percent_str }}</td>
								{% elif percent < -3 %}
									<td class="warning">{{ percent_str }}</td>
								{% else %}
									<td>{{ percent_str }}</td>
								{% end %}
							{% else %}
								<td>-</td>
							{% end %}
							{% if expected2 != '-' and real2 != '-' %}
								{% set percent = 100.0 * (real2 - expected2) / expected2 %}
								{% set percent_str = '{:.2f}%'.format(percent) %}
								{% if percent > 3 %}
									<td class="danger">{{ percent_str }}</td>
								{% elif percent < -3 %}
									<td class="warning">{{ percent_str }}</td>
								{% else %}
									<td>{{ percent_str }}</td>
								{% end %}
							{% else %}
								<td>-</td>
							{% end %}

							<td>{{ get_val(room, 'net_pressure1') }}</td>
							<td>{{ get_val(room, 'net_pressure2') }}</td>
							<td>{{ get_val(room, 'net_water_consum_expected_ph') }}</td>
							<td>{{ get_val(room, 'net_water_consum_real_ph') }}</td>
							{% set expected_cons = get_val(room, 'make_up_water_consum_expected_ph') %}
							{% set real_cons6 = get_val(room, 'make_up_water_consum_real_ph') %}
							<td>{{ expected_cons }}</td>
							<td>{{ real_cons6 }}</td>
							<td>{{ get_val(room, 'make_up_water_consum_real_pd') }}</td>
							<td>{{ get_val(room, 'make_up_water_consum_real_pm') }}</td>
							{% if expected_cons == '-' or real_cons6 == '-' %}
								<td>-</td>
							{% else %}
								{% set percent = 100.0 * (real_cons6 - expected_cons) / expected_cons %}
								{% set percent_str = '{:.2f}%'.format(percent) %}
								{% if percent > 0 %}
									<td class="danger">{{ percent_str }}</td>
								{% else %}
									<td>{{ percent_str }}</td>
								{% end %}
							{% end %}
							<td>{{ get_val(room, 'hardness') }}</td>
							<td>{{ get_val(room, 'transparency') }}</td>
						</tr>
					{% end %}
				{% end %}
			</tbody>
		</table>
	</div>
{% end %}
