{% extends "base.html" %}

{% block title %}ВолКомХоз: Таблица за день{% end %}

{% block body %}
	<div class="container-fluid report_title">
		<h1>Сводные данные о работе котельных  МУП "Волгоградское коммунальное хозяйство"</h1>
		<span class="date">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ date }}
		</span>
	</div>
	{% if forecast_date %}
		<div class="container weather_panel">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<td>Прогноз на <u><a href="/show_table?date={{ forecast_date }}">{{ forecast_date }}</a></u></td>
								<td>{{ forecast_weather }} {{ forecast_direction }}</td>
								<td>T<sub>день</sub> = {{ forecast_temp_day_from }} ~ {{ forecast_temp_day_to }} C<sup>o</sup></td>
								<td>T<sub>ночь</sub> = {{ forecast_temp_night_from }} ~ {{ forecast_temp_night_to }} C<sup>o</sup></td>
							</tr>
							<tr>
								<td>Заданная температура воздуха</td>
								<td>t<sub>день</sub> = {{ expected_temp_air_day }} C<sup>o</sup></td>
								<td>t<sub>ночь</sub> = {{ expected_temp_air_night }} C<sup>o</sup></td>
								<td>t<sub>средняя</sub> = {{ expected_temp_air_all_day }} C<sup>o</sup></td>
							</tr>
							<tr>
								<td>Средняя температура</td>
								<td>t<sub>возд.</sub> = {{ temp_average_air }} C<sup>o</sup></td>
								<td>t<sub>воды</sub> = {{ temp_average_water }} C<sup>o</sup></td>
								<td><td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% end %}
	<div class="container boiler_rooms_table" align="center">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			    <tr align="center">
			        <td rowspan="4">Район</td>

			        <td rowspan="4">Котельная</td>

			        <td rowspan="3" colspan="2">Расчетный<br>температурный<br>график</td>

			        <td rowspan="4">P<br>газа</td>

			        <td rowspan="2" colspan="5">Котлы</td>

			        <td rowspan="2" colspan="3">Сетевые насосы</td>

			        <td colspan="4">Среднесуточная температура</td>

			        <td colspan="4">Температура ночью</td>

			        <td rowspan="2" colspan="2">Давление в сети</td>

			        <td rowspan="2" colspan="2">Расход воды в час</td>

			        <td rowspan="2" colspan="4">Расход подпиточной воды</td>

			        <td rowspan="4" class="rotate"><div>Жесткость</div></td>

			        <td rowspan="4" class="rotate"><div>Прозрачность</div></td>
			    </tr>
			    <tr align="center">
			        <td rowspan="2" colspan="2">Заданная</td>
			        <td rowspan="2" colspan="2">Фактическая</td>

			        <td rowspan="2" colspan="2">Заданная</td>
			        <td rowspan="2" colspan="2">Фактическая</td>
			    </tr>
			    <tr align="center">
			        <td rowspan="2" class="rotate"><div>Всего</div></td>
			        <td colspan="2">В работе</td>
			        <td rowspan="2" class="rotate"><div>Резерв</div></td>
			        <td rowspan="2" class="rotate"><div>Ремонт</div></td>

			        <td rowspan="2" class="rotate"><div>В работе</div></td>
			        <td rowspan="2" class="rotate"><div>Резерв</div></td>
			        <td rowspan="2" class="rotate"><div>Ремонт</div></td>

			        <td rowspan="2">P<sub>1</sub></td>
			        <td rowspan="2">P<sub>2</sub></td>

			        <td rowspan="2">Расч.</td>
			        <td rowspan="2">Факт.</td>

			        <td rowspan="2">Расч.</td>
			        <td colspan="3">Фактический</td>
			    </tr>
			    <tr align="center">
			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>

			        <td class="rotate"><div>Котлов</div></td>
			        <td class="rotate"><div>Горелок</div></td>

			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>
			        <td>T<sub>3</sub></td>
			        <td>T<sub>4</sub></td>

			        <td>T<sub>1</sub></td>
			        <td>T<sub>2</sub></td>
			        <td>T<sub>3</sub></td>
			        <td>T<sub>4</sub></td>

			        <td>на 6:00</td>
			        <td>за сутки</td>
			        <td>месяц</td>
			    </tr>
			</thead>
			<tbody>
				{% for district in districts %}
					{% for room in district['rooms'] %}
						<tr>
							{% if room['district'] %}
								<td rowspan="{{ len(district['rooms']) }}">{{ room['district'] }}</td>
							{% end %}
							<td>{{ get_val(room, 'name') }}</td>
							{% for col in room_cols %}
								<td>{{ get_val(room, col) }}</td>
							{% end %}
						</tr>
					{% end %}
				{% end %}
			</tbody>
		</table>
	</div>
{% end %}