{% extends "base.html" %}

{% block title %}Расход воды за месяц{% end %}

{% block links %}
<script type="text/javascript" src="{{ static_url('js/Chart.bundle.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plot_builder.js') }}"></script>
{% end %}

{% block body %}
{% autoescape None %}
<h1>Расход воды<br>{{ month_names[month - 1] }}, {{ year }}</h1>

<script type="text/javascript">
	var param_values = {{ json_encode(statistics) }};
	function get_value_cb(name, x) {
		var param = param_values[name];
		if (! (x in param))
			return NaN;
		return param[x];
	};

	var params_config = {
		water_consum_ph: {
			title: 'Расход воды<br>в час',
			type: 'set',
			childs: ['net_water_consum_expected_ph',
				 'net_water_consum_real_ph']
		},
		make_up_water_consum: {
			title: 'Расход<br>подпиточной<br>воды',
			type: 'set',
			childs: ['make_up_water_consum_expected_ph',
				 'make_up_water_consum_real_ph',
				 'make_up_water_consum_real_pd',
				 'make_up_water_consum_real_pm']
		}
	};
	function add_parameter(param, title, plot_label) {
		params_config[param] = {
			title: title,
			plot_label: plot_label,
			get_value: get_value_cb,
			is_child: true,
			color: 'rgb(75, 192, 192)'
		};
	};
	add_parameter('net_water_consum_expected_ph', 'Расчетный',
		      'Расход воды в час, расчетный');
	add_parameter('net_water_consum_real_ph', 'Фактический',
		      'Расход воды в час, фактический');

	add_parameter('make_up_water_consum_expected_ph', 'Расчетный',
		      'Расход подпиточной воды, расчетный');
	add_parameter('make_up_water_consum_real_ph', 'Фактический<br>на 6:00',
		      'Расход подпиточной воды, фактический на 6:00');
	add_parameter('make_up_water_consum_real_pd', 'Фактический<br>за сутки',
		      'Расход подпиточной воды, фактический за сутки');
	add_parameter('make_up_water_consum_real_pm', 'Фактический<br>за месяц',
		      'Расход подпиточной воды, фактический за месяц');

</script>

<div class="container-fluid boiler_rooms_table month-plot-table" align="center">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr align="center">
				<td colspan="2">День</td>

				{% for day in range(1, days_count + 1) %}
				<td><a href="/show_table?date={{ get_date(year, month, day) }}">
					{{ day }}
				</a></td>
				{% end %}
			</tr>
		</thead>
		<tbody id="month-table-body">
			<!-- Render on client side. -->
		</tbody>
	</table>
</div>

<div class="container plot-control-form">
	<div class="panel panel-default">
		<div class="panel-heading">
			Контрольная панель графика
		</div>
		<div class="panel-body form-inline form-group">
			<div class="input-group">
				<div class="input-group-addon">Минимум Oy</div>
				<input type="text" id="plot-y-min" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Максимум Oy</div>
				<input type="text" id="plot-y-max" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Параметр</div>
				<select class="form-control" id="plot-param">
					<!-- Render on client side. -->
				</select>
			</div>
			<br><br>
			<div class="input-group">
				<div class="input-group-addon">Минимум Ox</div>
				<input type="text" id="plot-x-min" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Максимум Ox</div>
				<input type="text" id="plot-x-max" placeholder="по умолчанию" class="form-control">
			</div>
			<button class="btn btn-primary" onclick="update_plot(plot_id);">Обновить график</button>
		</div>
	</div>
</div>
<canvas id="plot" style="max-height: 600px;"></canvas>

<script type="text/javascript">
	window.onload = function() {
		/*
		 * Generate parameters table.
		 */
		var table = document.getElementById('month-table-body');
		clear_childs(table);
		for (var name in params_config) {
			if (! params_config.hasOwnProperty(name))
				continue;
			var param = params_config[name];
			if (param.type != 'set')
				continue;
			var childs_cnt = param.childs.length;
			for (var j = 0; j < childs_cnt; ++j) {
				tr = document.createElement('tr');
				if (j == 0) {
					var td = document.createElement('td');
					td.setAttribute('rowspan', childs_cnt);
					td.innerHTML = param.title;
					tr.appendChild(td);
				}
				ch_name = param.childs[j];
				child = params_config[ch_name];
				tr.setAttribute('id', ch_name);
				var td = document.createElement('td');
				td.innerHTML = child.title;
				tr.appendChild(td);
				for (var day = 1; day <= {{ days_count }};
				     ++day) {
					var val = child.get_value(ch_name, day);
					td = document.createElement('td');
					if (val == null)
						td.innerHTML = '-';
					else
						td.innerHTML = val.toFixed(2);
					tr.appendChild(td);
				}
				table.appendChild(tr);
			}
		}

		/*
		 * Generate list of parameters.
		 */
		var select = document.getElementById('plot-param');
		clear_childs(select);
		for (var name in params_config) {
			if (! params_config.hasOwnProperty(name))
				continue;
			var param = params_config[name];
			if (param.type == 'set')
				continue;
			var option = document.createElement('option');
			option.setAttribute('value', name);
			option.innerHTML = param.plot_label;
			select.appendChild(option);
		}

		update_plot(plot_id);

		$("tbody tr").click(function(e) {
			var select = document.getElementById('plot-param');
			select.value = e.currentTarget.id;
			update_plot(plot_id);
		});
	};
	function get_title(plot_id, control_data) {
		return params_config[control_data.param].plot_label;
	};
	function get_x_values(plot_id, control_data) {
		var days = [];
		var x_min = 1;
		if ('x_min' in control_data)
			x_min = control_data.x_min;
		var x_max = {{ days_count }};
		if ('x_max' in control_data)
			x_max = control_data.x_max;
		for (var i = x_min; i <= x_max; ++i)
			days.push(i);
		plot_set_labels(plot_id, days);
		return days;
	};
	var plot_id = 'plot';
	plot_create(plot_id, params_config, get_title, get_x_values);

	function read_param(plot_id, control_data) {
		var param = document.getElementById("plot-param").value;
		control_data.param = param;
		plot_update_parameters_to_show(plot_id, [param, ]);
		return true;
	};
	plot_add_trigger_on_update(plot_id, read_param);
	plot_add_trigger_on_update(plot_id, show_plot);
</script>
{% end %}