{% extends "base.html" %}

{% block title %}Температура за год{% end %}

{% block links %}
<script type="text/javascript" src="{{ static_url('js/Chart.bundle.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plot_builder.js') }}"></script>
{% end %}

{% block body %}
{% autoescape None %}
<h1>Температура за год {{ year }}</h1>

<script type="text/javascript">
	var boilers = {{ json_encode(boilers) }};
	var param_values = {{ json_encode({ first_id: first_report }) }};
	var year_temperature = {{ json_encode(year_temperature) }};
	/**
	 * Table of temperature modes and their functions of ideal
	 * values.
	 * To get the ideal temperature for the given boiler and
	 * ait temperature you need:
	 * 1. Determine the mode of the boiler - get its T1 and T2
	 *    columns.
	 * 2. Call the
	 *    ideal_values_table[mode][T1/T2](air temperature).
	 *
	 * Such values of function parameters are based on values
	 * from the special table.
	 */
	var ideal_values_table = {
		'150-70': {
			T1: function(t_air) {
				if (t_air < 3)
					return 78.725 - 2.908 * t_air;
				else
					return 70;
			},
			T2: function(t_air) {
				if (t_air < 3)
					return 44.984 - 1.061 * t_air;
				else
					return 39.957 + 0.614 * t_air;
			}
		},
		'130-70': {
			T1: function(t_air) {
				if (t_air < 0)
					return 70 - 2.47 * t_air;
				else
					return 70;
			},
			T2: function(t_air) {
				if (t_air < 0)
					return 44.9 - t_air;
				else
					return 44.9 + 0.62 * t_air;
			}
		},
		'120-70': {
			T1: function(t_air) {
				if (t_air < -2)
					return 66.086 - 2.156 * t_air;
				else
					return 70;
			},
			T2: function(t_air) {
				if (t_air < -2)
					return 45.217 - 0.991 * t_air;
				else
					return 48.066 + 0.433 * t_air;
			}
		},
		'115-70': {
			T1: function(t_air) {
				if (t_air < -3)
					return 64.09 - 2.036 * t_air;
				else
					return 70;
			},
			T2: function(t_air) {
				if (t_air < -3)
					return 45.34 - 0.986 * t_air;
				else
					return 49.546 + 0.415 * t_air;
			}
		},
		'110-70': {
			T1: function(t_air) { return 59.928 - 2.002 * t_air; },
			T2: function(t_air) { return 43.214 - 1.071 * t_air; }
		},
		'105-70': {
			T1: function(t_air) { return 58.142 - 1.874 * t_air; },
			T2: function(t_air) { return 43.428 - 1.062 * t_air; }
		},
		'95-70': {
			T1: function(t_air) { return 53.642 - 1.654 * t_air; },
			T2: function(t_air) { return 43.214 - 1.071 * t_air; }
		}
	};

	/** Get identifier of the currently selected boiler. */
	function get_current_boiler() {
		return document.getElementById("plot-boiler-id").value;
	};

	/**
	 * Get functions to calculate the ideal temperatures for
	 * the currently selected boiler.
	 * @retval not null Dictionary with T1 and T2 keys and
	 *                  functions as values,
	 *                  @sa ideal_values_table.
	 * @retval     null Mode not found the current boiler.
	 */
	function get_boiler_mode() {
		var boiler_id = get_current_boiler();
		var params = param_values[boiler_id];
		if (!('T1' in params) || !('T2' in params))
			return null;
		var t1_vals = params['T1'];
		var t2_vals = params['T2'];
		var t1 = null, t2 = null;
		for (var day in t1_vals) {
			if (t1_vals[day] != null) {
				t1 = t1_vals[day];
				break;
			}
		}
		if (t1 == null)
			return null;
		for (var day in t2_vals) {
			if (t2_vals[day] != null) {
				t2 = t2_vals[day];
				break;
			}
		}
		if (t2 == null)
			return null;
		var mode = t1.toString() + '-' + t2.toString();
		if (! (mode in ideal_values_table))
			return null;
		return ideal_values_table[mode];
	};

	function get_parameter_value_cb(name, day) {
		var boiler_id = get_current_boiler();
		if (! (day in param_values[boiler_id][name]))
			return null;
		var param = param_values[boiler_id][name][day];
		if (param == null || !(day in year_temperature))
			return null;
		var t = year_temperature[day];
		if (t == null)
			return null;
		return { x: t, y: param };
	};

	function get_ideal_water_by_air(name, air_t) {
		var mode = get_boiler_mode();
		if (mode == null)
			return null;
		/* Check if it is T1 or T2 temperature. */
		if (name.indexOf('1') >= 0)
			return mode.T1(air_t);
		else
			return mode.T2(air_t);
	};

	function get_ideal_value_cb(name, day) {
		if (! (day in year_temperature))
			return null;
		var t = year_temperature[day];
		if (t == null)
			return null;
		var y = get_ideal_water_by_air(name, t);
		if (y == null)
			return null;
		return { x: t, y: y };
	};

	function get_ideal_up_value_cb(name, day) {
		var res = get_ideal_value_cb(name, day);
		if (res == null)
			return null;
		res.y *= 1.03;
		return res;
	};

	function get_ideal_down_value_cb(name, day) {
		var res = get_ideal_value_cb(name, day);
		if (res == null)
			return null;
		res.y *= 0.97;
		return res;
	};

	var params_config = {};
	function add_parameter(param, title, ideal_title) {
		params_config[param] = {
			title: title,
			get_value: get_parameter_value_cb,
			color: '#8a9bff',
			plot_type: 'bubble',

			/* Data not used in plot_builder. */
			use_in_select: true
		};
		params_config[param + '_ideal'] = {
			title: ideal_title,
			get_value: get_ideal_value_cb,
			color: '#c3ffcd',
			no_points: true,
			plot_type: 'line'
		};
		params_config[param + '_ideal_up'] = {
			title: ideal_title + ', оценка сверху',
			get_value: get_ideal_up_value_cb,
			color: '#ffbbbb',
			no_points: true,
			plot_type: 'line',
			border_dash: [5, 8]
		};
		params_config[param + '_ideal_down'] = {
			title: ideal_title + ', оценка снизу',
			get_value: get_ideal_down_value_cb,
			color: '#e4dd28',
			no_points: true,
			plot_type: 'line',
			border_dash: [5, 8]
		};
	};
	add_parameter('all_day_expected_temp1',
		      'Среднесуточная температура, заданная T1',
		      'Идеальная среднесуточная заданная T1');

	add_parameter('all_day_expected_temp2',
		      'Среднесуточная температура, заданная T2',
		      'Идеальная среднесуточная заданная T2');

	add_parameter('all_day_real_temp1',
		      'Среднесуточная температура, фактическая T1',
		      'Идеальная среднесуточная фактическая T1');

	add_parameter('all_day_real_temp2',
		      'Среднесуточная температура, фактическая T2',
		      'Идеальная среднесуточная фактическая T2');

	add_parameter('all_night_expected_temp1',
		      'Температура ночью, заданная T1',
		      'Идеальная температура ночью, заданная T1');

	add_parameter('all_night_expected_temp2',
		      'Температура ночью, заданная T2',
		      'Идеальная температура ночью, заданная T2');

	add_parameter('all_night_real_temp1',
		      'Температура ночью, фактическая T1',
		      'Идеальная температура ночью, фактическая T1');

	add_parameter('all_night_real_temp2',
		      'Температура ночью, фактическая T2',
		      'Идеальная температура ночью, фактическая T2');
</script>

<div class="container plot-control-form">
	<div class="panel panel-default">
		<div class="panel-heading">
			Контрольная панель графика
		</div>
		<div class="panel-body form-inline form-group">
			<div class="input-group">
				<div class="input-group-addon">Минимум Oy</div>
				<input type="text" id="plot-y-min" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Максимум Oy</div>
				<input type="text" id="plot-y-max" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Котельная</div>
				<select class="form-control" id="plot-boiler-id">
					<!-- Render on client side. -->
				</select>
			</div>
			<br><br>
			<div class="input-group">
				<div class="input-group-addon">Минимум Ox</div>
				<input type="text" id="plot-x-min" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Максимум Ox</div>
				<input type="text" id="plot-x-max" placeholder="по умолчанию" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-addon">Параметр</div>
				<select class="form-control" id="plot-param">
					<!-- Render on client side. -->
				</select>
			</div>
			<br><br>
			<button class="btn btn-primary" onclick="update_plot(plot_id);">Обновить график</button>
		</div>
	</div>
</div>
<div class="plot-container"><canvas id="plot"></canvas></div>
<script type="text/javascript">
	window.onload = function() {
		/*
		 * Generate boilers list.
		 */
		var select = document.getElementById('plot-boiler-id');
		clear_childs(select);
		for (var i = 0; i < boilers.length; ++i) {
			var boiler = boilers[i];
			var option = document.createElement('option');
			option.setAttribute('value', boiler.id);
			option.innerHTML = boiler.title;
			select.appendChild(option);
		}

		/*
		 * Generate parameters list.
		 */
		select = document.getElementById('plot-param');
		clear_childs(select);
		for (var name in params_config) {
			if (! params_config.hasOwnProperty(name))
				continue;
			var param = params_config[name];
			if (!('use_in_select' in param) || !param.use_in_select)
				continue;
			var option = document.createElement('option');
			option.setAttribute('value', name);
			option.innerHTML = param.title;
			select.appendChild(option);
		}
		update_plot(plot_id);
	};

	function get_title(plot_id, control_data) {
		return params_config[control_data.param].title;
	};

	function get_x_values(plot_id, control_data) {
		var days = [];
		var x_min = NaN;
		if ('x_min' in control_data)
			x_min = control_data.x_min;
		var x_max = NaN;
		if ('x_max' in control_data)
			x_max = control_data.x_max;
		for (var day in year_temperature) {
			if (! year_temperature.hasOwnProperty(day))
				continue;
			var t = year_temperature[day];
			if (!isNaN(x_min) && t < x_min)
				continue;
			if (!isNaN(x_max) && t > x_max)
				continue;
			days.push(day);
		}
		return days;
	};

	function download_and_plot_parameter(plot_id, control_data) {
		var param = control_data.param;
		var boiler_id = control_data.boiler_id;
		if (boiler_id in param_values &&
		    param in param_values[boiler_id])
			return true;
		if ('can_upload' in control_data && !control_data.can_upload)
			return false;
		console.log('donwloading ...');
		$.ajax({
			url: '/get_year_parameter',
			data: { boiler_id: boiler_id, param_name: param,
				year: {{ year }} },
			dataType: 'json',
			success: function(data, text_status) {
				console.log('Received status: ' + text_status);
				if ('error' in data) {
					alert('Ошибка! ' + data['error']);
					return;
				}
				var resp = data['response'];
				var values = resp[param];
				if (! (boiler_id in param_values))
					param_values[boiler_id] = {};
				param_values[boiler_id][param] = values;
				param_values[boiler_id]['T1'] = resp['T1'];
				param_values[boiler_id]['T2'] = resp['T2'];
				/*
				 * Forbid reuploading of the same
				 * parameter right after it
				 * already happened.
				 * Reuploading is possible, if the
				 * server reponsed with an
				 * unexpected error and we didn't
				 * save the needed parameter, but
				 * try to plot it.
				 */
				control_data.can_upload = false;
				show_plot(plot_id, control_data);
			}
		});
		return false;
	};

	function sort_dataset_by_temperature(param, dataset) {
		/* Need for update_y_min_max(). */
		dataset.param_name = param;
		dataset.data.sort(function(a, b) { return a.x - b.x });
		return true;
	};

	function update_y_min_max(plot_id, control_data) {
		/*
		 * If mode for the boiler not found then don't
		 * update the plot.
		 */
		if (get_boiler_mode() == null)
			return true;
		var x_max = plot_get_x_max(plot_id);
		var x_min = plot_get_x_min(plot_id);
		/*
		 * The plot showed with ChartJS can show some gaps
		 * on left and right sides of the plot. To fill
		 * these gaps with our ideal values it is need to
		 * get left Ox border, right Ox border
		 * (x_min, x_max) and calculate ideal functions in
		 * these points.
		 */
		var was_updated = false;
		var datasets = plot_get_datasets(plot_id);
		var ideal_up, ideal_down, ideal, real;
		var ideal_name, ideal_name_up, ideal_name_down, real_name;
		for (var i = 0; i < datasets.length; ++i) {
			var d = datasets[i];
			if (d.param_name.indexOf('ideal_up') >= 0) {
				ideal_up = d;
				ideal_name_up = d.param_name;
			} else if (d.param_name.indexOf('ideal_down') >= 0) {
				ideal_down = d;
				ideal_name_down = d.param_name;
			} else if (d.param_name.indexOf('ideal') >= 0) {
				ideal = d;
				ideal_name = d.param_name;
			} else {
				real = d;
				real_name = d.param_name;
			}
		}
		if (ideal.data.length > 0) {
			if (x_min != ideal.data[0].x) {
				real.data.unshift({ x: NaN, y: NaN });
				var i = get_ideal_water_by_air(ideal_name,
							       x_min);
				ideal.data.unshift({ x: x_min, y: i });
				ideal_up.data.unshift({ x: x_min,
						        y: i * 1.03 });
				ideal_down.data.unshift({ x: x_min,
							  y: i * 0.97 });
				was_updated = true;
			}
			if (x_max != ideal.data[ideal.data.length - 1].x) {
				real.data.push({ x: NaN, y: NaN });
				var i = get_ideal_water_by_air(ideal_name,
							       x_max);
				ideal.data.push({ x: x_max, y: i });
				ideal_up.data.push({ x: x_max, y: i * 1.03 });
				ideal_down.data.push({ x: x_max, y: i * 0.97 });
				was_updated = true;
			}
		}
		if (was_updated)
			plot_refresh(plot_id);
		return true;
	};

	function read_params(plot_id, control_data) {
		var boiler_id = get_current_boiler();
		var param = document.getElementById("plot-param").value;
		control_data.boiler_id = boiler_id;
		control_data.param = param;
		control_data.can_upload = true;
		var show_params = [ param, param + '_ideal', param + '_ideal_up',
				    param + '_ideal_down' ]
		plot_update_parameters_to_show(plot_id, show_params);
		return true;
	};

	var plot_id = 'plot';
	plot_create(plot_id, params_config, get_title, get_x_values);
	plot_options(plot_id).hover.intersect = false;
	plot_options(plot_id).hover.mode = 'index';
	plot_set_xLabel(plot_id, 'Температура воздуха');
	plot_set_yLabel(plot_id, 'Температура нагрева');
	plot_set_type(plot_id, 'bubble');
	plot_add_trigger_show_started(plot_id, download_and_plot_parameter);
	plot_add_trigger_dataset_created(plot_id, sort_dataset_by_temperature);
	plot_add_trigger_show_finished(plot_id, update_y_min_max);
	plot_add_trigger_on_update(plot_id, read_params);
	plot_add_trigger_on_update(plot_id, show_plot);

</script>

{% end %}
