h1 {
	font-size: 25px;
}

.report_title .date {
	font-size: 18px;
}

.table-control-panel {
	padding: 0px;
}

.table-control-panel .table {
	margin: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > thead > tr > td {
     vertical-align: middle;
}

.boiler_rooms_table td.rotate {
	padding: 0px !important;
}

.boiler_rooms_table td.rotate > div {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  white-space: nowrap;
}

.boiler_rooms_table, .month-plot-table {
	font-size: 12px;
	overflow: scroll;
	overflow-x:scroll;
	border: 2px solid black;
	padding: 10px;
}

.boiler_rooms_table thead, .month-plot-table thead {
	font-weight: bold;
}

.boiler_rooms_table td.danger, .month-plot-table td.danger {
	background: #ffbbbb;
}

.boiler_rooms_table td.danger:hover, .month-plot-table td.danger:hover {
	background: #ffb0b0;
}

.boiler_rooms_table td.warning, .month-plot-table td.warning {
	background: #fffdc9;
}

.boiler_rooms_table td.warning:hover, .month-plot-table td.warning:hover {
	background: #fffcb7;
}

.main-menu .btn {
	max-width: 400px;
}

.choose-day-in-month-table {
	text-align: center;
}

.choose-day-in-month-table td.date-available {
	background: #d2ffd4;
}

.choose-day-in-month-table td.date-available:hover {
	background: #bcfebf;
}

.choose-day-in-month-table td.date-not-available {
	color: #939393;
}

.date-available a {
	color: inherit;
	text-decoration: none;
}

.date-available a:visited {
	color: inherit;
}

.report-actions-panel {
	padding: 15px;
}

.month-plot-table tbody tr {
	cursor: pointer;
}

.plot-control-form {
	padding-left: 20px;
	padding-right: 20px;
}

.plot-control-form input {
	display: inline-block;
	width: 100px;
	font-size: 10px;
}

.plot-control-form .input-group-addon {
	font-size: 12px;
}

.plot-control-form .input-group {
	max-width: 200px;
	margin-right: 20px;
}

.plot-control-form select {
	min-width: 300px;
}

.plot-container {
	position: relative;
	height: 600px;
}

.chartjs-tooltip {
	opacity: 1;
	position: absolute;
	background: rgba(0, 0, 0, .7);
	color: white;
	border-radius: 3px;
	transition: all .1s ease;
	pointer-events: none;
	transform: translate(-50%, 0);
	padding: 4px;
}

.chartjs-tooltip-key {
	display: inline-block;
	width: 10px;
	height: 10px;
}
