.report_title h1, .upload_file_title h1 {
	font-size: 25px;
}

.report_title .date {
	font-size: 18px;
}

.weather_panel {
	padding: 0px;
}

.weather_panel .table {
	margin: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > thead > tr > td {
     vertical-align: middle;
}

.boiler_rooms_table td.rotate {
	padding: 0px !important;
}

.boiler_rooms_table td.rotate > div {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  white-space: nowrap;
}

.boiler_rooms_table {
	font-size: 12px;
	overflow: scroll;
	overflow-x:scroll;
	border: 2px solid black;
	padding: 10px;
}

.boiler_rooms_table thead {
	font-weight: bold;
}

.boiler_rooms_table td.danger {
	background: #ffbbbb;
}

.boiler_rooms_table td.danger:hover {
	background: #ffb0b0;
}

.boiler_rooms_table td.warning {
	background: #fffdc9;
}

.boiler_rooms_table td.warning:hover {
	background: #fffcb7;
}

.main-menu .btn {
	max-width: 400px;
}

.choose-day-in-month-table {
	text-align: center;
}

.choose-day-in-month-table td.date-available {
	background: #d2ffd4;
}

.choose-day-in-month-table td.date-available:hover {
	background: #bcfebf;
}

.choose-day-in-month-table td.date-not-available {
	color: #939393;
}

.date-available a {
	color: inherit;
	text-decoration: none;
}

.date-available a:visited {
	color: inherit;
}

.report-actions-panel {
	padding: 15px;
}
