{% extends "../base.html" %}

{% block title %}ВолКомХоз: Редактирование пользователя{% end %}

{% block body %}

<div class="container-fluid">
	<h2 style="margin:10px 0 20px 0">Редактирование пользователя</h2>
	<form id="edit_user_form" method="post">

		<!-- форма ИМЯ -->
		<div class="form-group col-md-6" style="float: none">
			<label class="control-label" for="name_edit_user">
					Имя
			</label>
			<div class="input-group col-md-12">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user"></i>
				</span>
				<input type="text" class="form-control" id="name_edit_user" name="name" placeholder="Имя" pattern="^[A-Za-zА-Яа-яЁё0-9]+(?:[ _-][A-Za-zА-Яа-яЁё0-9]+)*$" required value="{{ name }}">
			</div>
		</div>

		<!-- форма СТАРЫЙ ПАРОЛЬ -->
		<div class="form-group col-md-6" style="float: none">
			<label class="control-label" for="old_password_edit_user">
					Старый пароль
			</label>
			<div class="input-group col-md-12">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" class="form-control" id="old_password_edit_user" name="old_password" placeholder="Старый пароль">
			</div>
		</div>

		<!-- форма НОВЫЙ ПАРОЛЬ -->
		<div class="form-group col-md-6" style="float: none">
			<label class="control-label" for="password_edit_user">
					Новый пароль
			</label>
			<div class="input-group col-md-12">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" class="form-control" id="password_edit_user" name="password" placeholder="Новый пароль">
			</div>
		</div>

		<!-- форма ПОДТВЕРЖДЕНИЯ ПАРОЛЯ -->
		<div class="form-group col-md-6" style="float: none">
			<label class="control-label" for="confirm_password_edit_user">
					Повторите новый пароль
			</label>
			<div class="input-group col-md-12">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" class="form-control" id="confirm_password_edit_user" name="confirm_password" placeholder="Повторите новый пароль">
			</div>
		</div>

		<!-- форма ПРАВ ДОСТУПА -->
		

		<!-- кнопки -->
		<div class="col-md-6">
			<a href="/users_management" class="btn btn-default">Отменить</a>
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
	</form>
	<script>
		var name_input = document.getElementById("name_edit_user");
		
		MAX_NAME_LENGTH = 65535;
		function ValidateName(){
			var value = name_input.value;
			var pattern = new RegExp(name_input.pattern);
			if (value.length > MAX_NAME_LENGTH) {
				name_input.setCustomValidity("Длина поля должна быть меньше " + MAX_NAME_LENGTH + "!");
			} 
			else if (!pattern.test(value)) {
				name_input.setCustomValidity("Имя может состоять из латинских букв, русских букв, цифр, пробела, нижнего подчеркивания и тире, причем начинаться должно с буквы или цифры!");
			}
			else {
				name_input.setCustomValidity('');
			}
		}

		name_input.onkeyup = ValidateName;

	</script>
	<script>
		var password = document.getElementById("password_edit_user");
		var confirm_password = document.getElementById("confirm_password_edit_user");

		function ValidatePassword(){
			if(password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Пароли не совпадают!");
			} else {
				confirm_password.setCustomValidity('');
			}
		}

		password.onchange = ValidatePassword;
		confirm_password.onkeyup = ValidatePassword;

	</script>
	<script>
		$('#test2').click(function() {
			$('input[type=checkbox]').each(function () {
				if($(this).is(':checked')) {
					$(this).siblings().prop('disabled', true);
				}
			})
			return false;
		});
	</script>
</div>

{% end %}